<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "TAB1_TITLE" | translate }} <!-- "TAB1_TITLE" -> reemplazar con el ID asignado en los ficheros de traducciones -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "TAB1_TITLE" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="{{ 'TAB1_TITLE' | translate }}"></app-explore-container>
</ion-content>
