<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "TAB1_TITLE" | translate }} <!-- "TAB1_TITLE" -> reemplazar con el ID asignado en los ficheros de traducciones -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "TAB1_TITLE" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let habito of habitos">
      <ion-label>
        <h2>{{ habito.titulo }}</h2>
        <p>{{ habito.descripcion }}</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="habito.completado"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
